/* ./src/styles/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color: rgb(255, 255, 255);
  --main-color: rgb(1, 110, 218);
  --secondary-color: rgb(217, 0, 192);
  --border-color: rgba(32, 34, 49);
}